body {
    background: url(fon.jpg);
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.menu-frame {
    background: greenyellow;
    border: 1px solid;
    min-width: 25px;
    min-height: 25px;
    padding: 5px;
    width: 33%;
    height: 750px;
    flex-direction: column;
}

.item-frame {
    background: pink;
    border: 1px solid;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    padding: 5px;
    width: 33%;
    height: 750px;
}

.logo-frame {
    background:white;
    border: 1px solid;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    padding: 5px;
    width: 33%;
    height: 750px;
}

.logo{
    border: 1px solid;
    width: 400px;
    height: 600px;
    background: url(l1.png);

}


.nav{
    
    height: 100px;
    width: 100%;
    background: green;
    border: 1px solid;

}
